<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Placed</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/orderPlace.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="order-confirmation">
                    <h1>Your Order Has Been Placed!</h1>
                    <p>Thank you for your purchase.</p>
                    <a href="/user/cardprod" class="btn btn-custom">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
